.profile__edit-button {
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  padding: 0;
  grid-area: edit-button;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  background-image: url(../../../images/edit-button-pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
